{% extends "templates/web.html" %}

{% block title %}{{ _("RazorPay Payment Status") }}{% endblock %}

{% block page_content %}
<h2>{{ _("RazorPay Payment Status") }}</h2>
{% endblock %}

{% block script %}
<script>
    frappe.msgprint({
        title: __("{{ title }}"),
        indicator: ("{{ indicator }}"),
        message: __("{{ message }}"),
        primary_action: {
            "label": "Proceed",
            "client_action": "redirect"
        }
    })

    function redirect() {
        window.location.href = "{{ redirect_to }}"
    }
</script>
{% endblock %}
